* {
  font-family: 'Helvetica';
}

body {
  background-color: #EAEAD7;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../Assets/fonts/MyriadPro-Regular.otf');
}

@font-face {
  font-family: 'Alvaro-Condensed';
  src: url('../Assets/fonts/Alvaro-Condensed.otf');
}


/************************Nav Bar********************************/
.navBrand {
  font-family: 'Alvaro-Condensed';
  margin-left: -70px;
  font-size: 36px;
  letter-spacing: 6px;
}

.nav-links {
  margin-top: 14px;
  float: left;
  letter-spacing: 2px;
}
.favorite-nav:hover {
  text-decoration: none;
}


/************************Landing page********************************/
.landing-page {
  height: 88vh;
  width: 100%;
  margin-top: -48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../Assets/images/lights.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 background-blend-mode: saturation;
  z-index: 1;
}


#heading {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #EFF3EF;
  margin-bottom: 20px;
  opacity: 0.8;
  letter-spacing: 2px;
}

/**********************Search bar ************************/

.searchbar {
  padding: 10px 14px;
  width: 350px;
  border-radius: 10px;
  margin-right: 20px;
}

.searchbar:focus,
.search-btn:focus,
.select:focus {
  outline: none !important;

}

.search-btn {
  padding: 10px;
  margin-left: 65px;
  width: 100px;
  border-radius: 10px;
}

.optionSelect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.select {
  margin-left: 50px;
  padding: 14px;
  border-radius: 10px;
  margin: 10px;
  background-color: #e2dfdf;
}

/************************Search results page********************************/


.album-container {
  overflow: hidden;
  width: 220px;
  height: 320px;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.10), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: table;
  background-color: white;
  margin: 5px;
}

.image-container {
  margin: 10px auto 0 auto;
  list-style: none;
  position: relative;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  visibility: hidden;
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
.image-container:hover .top-left {
  visibility: visible;
}

.albumText {
  overflow: hidden;
  width: 210px;
  height: 90px;
  color: #000;
}

.name {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 1px;
  text-align: center;
}

.description {
  font-size: 13px;
  text-align: center;
  height: 60px;
  overflow: hidden;
  padding-bottom: 5px;
}

.results-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 50px;
}

.heart {
  background-color: #805456;
  display: inline-block;
  height: 15px;
  position: relative;
  transform: rotate(-45deg);
  width: 15px;
  left: 40%;
  border: none;
  outline: none;
  margin: 5px;
}

p {
  margin-top: -4px;
  word-wrap: break-word;
}


/************************Favourites page********************************/

.delButton {
  background-color: #805456;
  color: #EAEAD7;
  display: inline-block;
  position: relative;
  left: 40%;
  border: none;
  outline: none;
  margin: 5px;
}

.favourites {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 50px;
}